<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState timeout="1"></sessionState>
  </system.web>
  <appSettings>
    <add key="conString" value="ZX1tTNDJERolFnCotkOheGjo4AYRjLEibrhQ9twPGrWqIJBMRizwJPy4pKwDqAmsou7x2To+ix95RSl7oi91PvSTPsTB6Jyd" />
  </appSettings>
</configuration>
<!--ProjectGuid: {b569fa0f-497a-441e-959f-a367e411a576}-->